.hero-container img{
width: 100%;
height: 400px;
border-radius: 25px;

}
.hero-container{
    align-items: center;
    display: flex;
    background-color: rgb(194, 23, 23);
    gap: 40px;
    border-radius: 20px;
    padding: 25px;
}
body{
    max-width: 1260px;
    background-color: rgb(25, 117, 9);
    margin: auto;
    padding: 25px;
    font-size: 1.25em;
    
}
.box{
    padding: 20px;
    color:blueviolet;
    background-color: rgb(105, 194, 11);
    border-radius: 15px;
    font-weight: bold;
    border: 1px solid;
    font-size: 1.2 em;
    cursor: pointer;
}